# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.d
build/windows/cookrpg/.codelite/
build/windows/cookrpg/Debug/
build/windows/cookrpg/cookrpg.mk
build/windows/cookrpg/cookrpg.txt
build/windows/cookrpg/Makefile
